.container {
   padding:36px; max-width: 700px; margin: 0px auto; 
  }
  
  header, main, footer {
  padding:20px
  }
  
  header {
    border: 4px green; border-bottom: none;
  }
  
  main {
    border: 4px crimson; border-top: none; border-bottom: none;
  }
  
  footer {
    border: 4px blue;
  }
  